nav{
  text-align: center !important;
  padding-top:20px !important;
}
a{
  color:black !important;
  margin: 20px !important;
  text-decoration: none !important;
  font-size: larger !important;
}
a:hover{
  color: green !important;
  text-decoration: none !important;
  padding-bottom: 35px !important;
  border-bottom-style: solid;
  border-bottom-width: 3.1px ;
  width: fit-content !important;
}